<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Připojovací řetězec pro MySQL databázi -->
		<add name="localHostConnection" connectionString="Server=localhost;Database=app_database;Uid=root;Pwd=admin;" providerName="MySql.Data.MySqlClient"/>
		<add name="schoolConnection" connectionString="Server=;Database=app_database;Uid=PCXXX;Pwd=student;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>
